/* Styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #75acb9;
    color: #333;
    margin: 0;
    padding: 20px;
}


/* Styling for the headings */
h1 {
    color: #134B70;
    font-size: 28px;
    text-align: center;
}


h2 {
    color: #134B70;
    font-size: 22px;
}


/* Styling for the links */
a {
    color: #1d6a9e;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}


a:hover {
    color: #601891;
}
